<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head'); %>
	</head>
	<body>
		<%- include('../partials/header'); %>

		<div class="container-fluid">
			<div class="row">
				<%- include('../partials/sidebar'); %>

				<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                    <div class="container-fluid p-0 pt-3">
                        <div class="text-center fs-1">PAGINA IN COSTRUZIONE<br>OPPURE NON TROVATA</div>
                        <div class="w-75 m-auto">
                            <img src="/images/piggy.svg" />
                        </div>
                    </div>
                </main>
			</div>
		</div>
		<footer>
			<%- include('../partials/footer'); %>
		</footer>
	</body>
	<%- include('../partials/scripts'); %>
</html>