<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head'); %>
	</head>
	<body>
		<%- include('../partials/header', {changeModal: {buttonId: "addWallet", modalId: "#addWalletModal"}}); %>

		<div class="container-fluid">
			<div class="row">
				<%- include('../partials/sidebar'); %>

				<%- include('../partials/wallet-view'); %>
			</div>
		</div>
		<footer>
			<%- include('../partials/footer'); %>
		</footer>
		<%- include('../partials/modals/wallets'); %>
	</body>
	<%- include('../partials/scripts'); %>
	<script src='/js/wallets/wallets.js'></script>
	<script src='/js/wallets/single.js'></script>
</html>